/*This is where changes affecting the entire body are located*/

.body{
	
	
}

/*This is for the links at the top nav bar*/

.no_underline{
	text-decoration: none;
	padding: 20px 10px 5px 10px;
	color: #777;
	margin-top: 10px;
	border-right: 2px;
	border-right-color: #777;
	text-align: center;


}

/*This is where the style for the top row including name and nav menu are located*/



/*This is for the Teal Block containging my name*/

header{
	background: #fff;
	height: 60px;
}

#one{
	float: left;
	padding: 20px;
	margin-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #4aaaa5;
	color: #fff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	width: 200px;
	height: 20px;

}

#two{
	float: right;
	padding: 5px;
	margin-top: 20px;
	margin-right: 60px;
	margin-bottom: 5px;
	
	
}


.clearfix::after {
    clear: both;
}

/*This is where the styling for the body starts*/

body{

    background-image: url("../images/ep_naturalwhite/ep_naturalwhite.png");
}

#heading{
	
	color: #4aaaa5;
	font-size: 36px;
}

#three{
	border-style: solid;
    border-bottom: solid #ddd;
	padding: 5px;
	background: #fff;
}

.about{
	clear: both;
	padding: 20px;
	margin-left: 60px;
	background-color: #fff;
	width: 650px;
	float: left;
}

.about_picture{
	float: left;
	padding: 10px;

}

/*This is for the About Me text*/

.about_text{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	font-size: 16px;
	line-height: 2;
}

/*This starts the sidebar*/

.sidebar{
	float: right;
	padding: 20px;
	width: 270px;
	background: #fff;
	margin-right: 60px;
	color: #4aaaa5;
	font-size: 36px;
}

#four{
	text-align: center;
	padding: 10px;
}





